<!DOCTYPE html>
<html>
<head>
<title>We written our forms here smh</title>
</head>
<body>
<h1> Pirate Form</h1>
<form method="post" action="/pirates">
    <p>Pirate Name: <input type="text" name="pirate[name]"></p>
    <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
    <p>Pirate Height: <input type="text" name="pirate[height]"></p>
    <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
    <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
    <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
    <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
    <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
    <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
    <br>
    <button type="submit" value="submit">Submit</button>
</form>
</body>
    
</html
